boost_1_73_0/
digests/
all/
resultados/
_DS_Store
_cproject.xml
all_details.rb
all_summary.rb
cb_known_set.txt
cb_target_set.txt
features
lista.txt
LogFile.txt
mrsh_net
objects.rb
resultado.txt
resultados-mrsh-sd-28.txt
teste.txt
cmake_install.cmake
CMakeCache.txt
mrsh_sd
CMakeFiles/*
Makefile
